:root {
    --corBackground: #0d1b2c;
    --corTaskConteiner: #1a1919;
    --corLetras: #dcdada;
    --corDestaque: #0e7cdc;
    --fontPrincipal: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontPrincipal);
}

body{
    width: 100vw;
    height: 100vh;
    background: var(--corBackground);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* to-do list conteiner - conteiner anotações width */
.conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--corTaskConteiner);
    height: 450px;
    padding: 40px;
    border-radius: 10px;
    min-width: 500px;
    color: var(--corLetras);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.433);
}

.taskCreateArea, .taskArea {
    min-width: 380px;
    position: relative;
}

/* section de criação de anotações(tasks) */
.taskCreateArea h1{
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    position: relative;
}

.taskCreateArea h1::before{
    position: absolute;
    background-color: var(--corDestaque);
    width: 20px;
    height: 8px;
    content: " ";
    border-radius: 2px 10px;
    left: -25px;
    top: 15px;
}

.taskCreateArea h1 span{
    color: var(--corDestaque);
}

.taskCreateArea p{
    position: relative;
    margin-bottom: 20px;
}

.taskCreateArea p span{
    color: var(--corDestaque);
}

.taskCreateArea p::before{
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--corDestaque);
    left: -15px;
    top: 6.5px;
}

.taskAddArea{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.taskInputs{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--corDestaque);
    border-radius: 20px 10px;
    overflow: hidden;
}

.taskInputs input{
    padding: 15px;
    min-width: 290px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.916);
}

.taskInputs input:first-child{
    font-size: 1.2rem;
    border-bottom: 1px solid var(--corDestaque);
}