:root {
    --cor1: #011640;
    --cor2: #dcdada;
    --cor3: #0e7cdc;
    --cor4: #2f09a3;
    --fontPrincipal: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontPrincipal);
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #011640, #0c60a9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner{
    display: flex;
    height: 450px;
    gap: 20px;
    background-color: #1a1919;
    min-width: 500px;
    padding: 40px;
    color: var(--cor2);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.449);
}

.taskCreateArea, .taskArea{
    min-width: 380px;
    position: relative;
}

.taskCreateArea h1{
    font-size: 1.8em;
    margin-bottom: 10px;
    text-transform: uppercase;
    position: relative;
}

.taskCreateArea h1::before{
    position: absolute;
    background-color: var(--cor3);
    width: 20px;
    height: 8px;
    content: " ";
    border-radius: 2px 10px;
    left: -25px;
    top: 15px;
}

.taskCreateArea h1 span {
    color: var(--cor3);
}

.taskCreateArea p{
    position: relative;
    margin-bottom: 20px;
}

.taskCreateArea p span{
    color: var(--cor3);
}

.taskCreateArea p::before{
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--cor3);
    left: -15px;
    top: 6.5px;
}

.addTaskArea{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.taskInputs{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--cor3);
    border-radius: 20px 10px 20px 10px;
    overflow: hidden;
}

.taskInputs input{
    padding: 15px;
    min-width: 290px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.916);
}

.taskInputs input:first-child{
    font-size: 1.2em;
    border-bottom: 1px solid var(--cor3);
}

.addTaskArea button, .taskConteiner button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--cor3);
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    transition: all .3s ease;
}

.addTaskArea button:hover{
    transform: translateY(-2px);
    background-color: rgb(26, 177, 43);
}

.taskConteiner button:hover{
    transform: translateY(-2px);
    background-color: rgb(237, 46, 46);
}

.taskConteiner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.taskArea{
    overflow-y: scroll;
    padding: 5px 20px;
    border-left: 1px solid rgba(255, 252, 252, 0.536);
}

.taskArea::-webkit-scrollbar{
    background: transparent;
    width: 5px;
    border-radius: 20px;
}

.taskArea::-webkit-scrollbar-thumb {
    background-color: var(--cor3);
    border-radius: 20px;
}

.taskArea h2{
    font-size: 1.3em;
    margin-bottom: 10px;
}

.task{
    background-color: rgb(229, 229, 229);
    max-width: 270px;
    padding: 20px 30px;
    border-radius: 20px;
    color: rgb(46, 43, 43);
}

.task h1{
    margin-bottom: 10px;
    color: var(--cor3);
}

.erroMensage{
    position: absolute;
    background-color: var(--cor3);
    padding: 20px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 50px;
}

.erroMensage::before{
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border: 17px solid;
    border-color: var(--cor3) transparent transparent;
    border-radius: 0px 0px 100px 100px;
    top: -32px;
    left: 50px;
    transform: rotate(180deg);
}

.erroMensage p{
    margin: 0px;
}

.erroMensage p::before{
    width: 0px;
    height: 0px;
}